{% extends "base.html" %}
{% block content %}

<h1>Ottelun tiedot</h1>

<!-- Score-display -->
<div class="ui-grid-a">
    <div class="ui-block-a">
        <h3 class="centered-text">Koti</h3>
        <div class="ui-bar ui-bar-a score-display centered-text">
            <p class="big-text"> {{game.home_score}}</p>
        </div>
    </div>
    <div class="ui-block-b">
        <h3 class="centered-text">Vieras</h3>
        <div class="ui-bar ui-bar-a score-display centered-text">
            <p class="big-text"> {{game.away_score}}</p>
        </div>
    </div>

</div><!-- /Score-display -->



<h3>Maalit</h3>
{% for goal in game.goals %}
  <p>{{ goal.desc }}</p>
{% endfor %}

<h3>Pelaajakohtaiset tilastot</h3>

{% for player in game.players %}
  <h4>{{ player }}</h4>
{% endfor %}

<p><a data-rel="back" data-role="button" data-theme="b">Paluu</a></p>

{% endblock %}