{% extends "base.html" %}
{% block content %}
     <a href="/" data-role="button">Lisää/Poista seurattavista</a>

    <h1>Pelaajan tiedot</h1>

    <div class="ui-grid-a">
        <div class="ui-block-a">
                <h2 class="no-top-margin">{{name}}</h2>

                <p>Position:<strong>{{position}}</strong></p>
                <h3><a href="/team/{{team}}">{{team|upper}}</a></h3>
        </div>
        <div class="ui-block-b">
            <div class="ui-bar ui-bar-d picture-frame">
                <p>kuva</p>
            </div>
        </div>
    </div>

{{latest_game}}
<table id="last-game">
    <caption><h2>Viimeisin peli</h2></caption>​
    <thead>​
    <tr>​
        <th scope=​"col" class="bottom-border">Date</th>​
        <th scope=​"col" class="bottom-border">Teams</th>​
        <th scope=​"col" class="bottom-border">Result</th>​
        <th scope=​"col" class="bottom-border">G</th>​
        <th scope=​"col" class="bottom-border">​A</th>​
        <th scope=​"col" class="bottom-border">Pts</th>​
        <th scope=​"col" class="bottom-border">+/-</th>​
        <th scope=​"col" class="bottom-border">PIM</th>​
        <th scope=​"col" class="bottom-border">Hits</th>​
        <th scope=​"col" class="bottom-border">BkS</th>​
        <th scope=​"col" class="bottom-border">FW</th>​
        <th scope=​"col" class="bottom-border">FL</th>​
        <th scope=​"col" class="bottom-border">FO%</th>​
        <th scope=​"col" class="bottom-border">PPG</th>​
        <th scope=​"col" class="bottom-border">PPA</th>​
        <th scope=​"col" class="bottom-border">SHG</th>​
        <th scope=​"col" class="bottom-border">SHA</th>​
        <th scope=​"col" class="bottom-border">GW</th>​
        <th scope=​"col" class="bottom-border">SOG</th>​
        <th scope=​"col" class="bottom-border">Pct</th>​
    </tr>​
    </thead>​
    <tr>​
        <th scope=​"col"><a href="/game/{{latest_game.date}}">{{latest_game.date}}</a></th>​
        <th scope=​"col">{{team|upper}} vs {{latest_game.opponent|upper}}</th>​
        <th scope=​"col">{{latest_game.result|upper}}</th>​
        <th scope=​"col">{{latest_game.g}}</th>​
        <th scope=​"col">{{latest_game.a}}</th>​
        <th scope=​"col">{{latest_game.pts}}</th>​
        <th scope=​"col">{{latest_game['+/-']}}</th>​
        <th scope=​"col">{{latest_game.pim}}</th>​
        <th scope=​"col">{{latest_game.hits}}</th>​
        <th scope=​"col">{{latest_game.bks}}</th>​
        <th scope=​"col">{{latest_game.fw}}</th>​
        <th scope=​"col">{{latest_game.fl}}</th>​
        <th scope=​"col">{{latest_game['fo%']}}</th>​
        <th scope=​"col">{{latest_game.ppg}}</th>​
        <th scope=​"col">{{latest_game.ppa}}</th>​
        <th scope=​"col">{{latest_game.shg}}</th>​
        <th scope=​"col">{{latest_game.sha}}</th>​
        <th scope=​"col">{{latest_game.gw}}</th>​
        <th scope=​"col">{{latest_game.sog}}</th>​
        <th scope=​"col">{{latest_game.pct}}</th>​
    </tr>​
</table>


<table id="current-season">
    <caption><h2>Nykyinen kausi</h2></caption>​
    <thead>​
    <tr>​
        <th scope=​"col" class="bottom-border">G</th>​
        <th scope=​"col" class="bottom-border">​A</th>​
        <th scope=​"col" class="bottom-border">Pts</th>​
        <th scope=​"col" class="bottom-border">+/-</th>​
        <th scope=​"col" class="bottom-border">PIM</th>​
        <th scope=​"col" class="bottom-border">Hits</th>​
        <th scope=​"col" class="bottom-border">BkS</th>​
        <th scope=​"col" class="bottom-border">FW</th>​
        <th scope=​"col" class="bottom-border">FL</th>​
        <th scope=​"col" class="bottom-border">FO%</th>​
        <th scope=​"col" class="bottom-border">PPG</th>​
        <th scope=​"col" class="bottom-border">PPA</th>​
        <th scope=​"col" class="bottom-border">SHG</th>​
        <th scope=​"col" class="bottom-border">SHA</th>​
        <th scope=​"col" class="bottom-border">GW</th>​
        <th scope=​"col" class="bottom-border">SOG</th>​
        <th scope=​"col" class="bottom-border">Pct</th>​
    </tr>​
    </thead>​
    <tr>​
        <th scope=​"col">{{this_season.g}}</th>​
        <th scope=​"col">{{this_season.a}}</th>​
        <th scope=​"col">{{this_season.pts}}</th>​
        <th scope=​"col">{{this_season['+/-']}}</th>​
        <th scope=​"col">{{this_season.pim}}</th>​
        <th scope=​"col">{{this_season.hits}}</th>​
        <th scope=​"col">{{this_season.bks}}</th>​
        <th scope=​"col">{{this_season.fw}}</th>​
        <th scope=​"col">{{this_season.fl}}</th>​
        <th scope=​"col">{{this_season['fo%']}}</th>​
        <th scope=​"col">{{this_season.ppg}}</th>​
        <th scope=​"col">{{this_season.ppa}}</th>​
        <th scope=​"col">{{this_season.shg}}</th>​
        <th scope=​"col">{{this_season.sha}}</th>​
        <th scope=​"col">{{this_season.gw}}</th>​
        <th scope=​"col">{{this_season.sog}}</th>​
        <th scope=​"col">{{this_season.pct}}</th>​
    </tr>​

</table>


<table id="all-seasons">
    <caption><h2>Kaikki kaudet</h2></caption>​
    <thead>​
    <tr>​
        <th scope=​"col" class="bottom-border">Year</th>​
        <th scope=​"col" class="bottom-border">Team</th>​
        <th scope=​"col" class="bottom-border">G</th>​
        <th scope=​"col" class="bottom-border">​A</th>​
        <th scope=​"col" class="bottom-border">Pts</th>​
        <th scope=​"col" class="bottom-border">+/-</th>​
        <th scope=​"col" class="bottom-border">PIM</th>​
        <th scope=​"col" class="bottom-border">Hits</th>​
        <th scope=​"col" class="bottom-border">BkS</th>​
        <th scope=​"col" class="bottom-border">FW</th>​
        <th scope=​"col" class="bottom-border">FL</th>​
        <th scope=​"col" class="bottom-border">FO%</th>​
        <th scope=​"col" class="bottom-border">PPG</th>​
        <th scope=​"col" class="bottom-border">PPA</th>​
        <th scope=​"col" class="bottom-border">SHG</th>​
        <th scope=​"col" class="bottom-border">SHA</th>​
        <th scope=​"col" class="bottom-border">GW</th>​
        <th scope=​"col" class="bottom-border">SOG</th>​
        <th scope=​"col" class="bottom-border">Pct</th>​
    </tr>​
    </thead>​
    {% for s in all_seasons %}
    <tr>​
        <th scope=​"col">{{s.year}}</th>​
        <th scope=​"col"><a href="/team/{{s.team}}">{{s.team | upper}}</a></th>​
        <th scope=​"col">{{s.a}}</th>​
        <th scope=​"col">{{s.pts}}</th>​
        <th scope=​"col">{{s['+/-']}}</th>​
        <th scope=​"col">{{s.pim}}</th>​
        <th scope=​"col">{{s.hits}}</th>​
        <th scope=​"col">{{s.bks}}</th>​
        <th scope=​"col">{{s.fw}}</th>​
        <th scope=​"col">{{s.fl}}</th>​
        <th scope=​"col">{{s['fo%']}}</th>​
        <th scope=​"col">{{s.ppg}}</th>​
        <th scope=​"col">{{s.ppa}}</th>​
        <th scope=​"col">{{s.shg}}</th>​
        <th scope=​"col">{{s.sha}}</th>​
        <th scope=​"col">{{s.gw}}</th>​
        <th scope=​"col">{{s.sog}}</th>​
        <th scope=​"col">{{s.pct}}</th>​
    </tr>​
    {% endfor %}
    <tr></tr>
        <tr>​
        <th class="top-border" scope=​"col">Totals:</th>​
        <th class="top-border" scope=​"col"></th>​
        <th class="top-border" scope=​"col">{{career.g}}</th>​
        <th class="top-border" scope=​"col">{{career.a}}</th>​
        <th class="top-border" scope=​"col">{{career.pts}}</th>​
        <th class="top-border" scope=​"col">{{career['+/-']}}</th>​
        <th class="top-border" scope=​"col">{{career.pim}}</th>​
        <th class="top-border" scope=​"col">{{career.hits}}</th>​
        <th class="top-border" scope=​"col">{{career.bks}}</th>​
        <th class="top-border" scope=​"col">{{career.fw}}</th>​
        <th class="top-border" scope=​"col">{{career.fl}}</th>​
        <th class="top-border" scope=​"col">{{career['fo%']}}</th>​
        <th class="top-border" scope=​"col">{{career.ppg}}</th>​
        <th class="top-border" scope=​"col">{{career.ppa}}</th>​
        <th class="top-border" scope=​"col">{{career.shg}}</th>​
        <th class="top-border" scope=​"col">{{career.sha}}</th>​
        <th class="top-border" scope=​"col">{{career.gw}}</th>​
        <th class="top-border" scope=​"col">{{career.sog}}</th>​
        <th class="top-border" scope=​"col">{{career.pct}}</th>​
    </tr>​
</table>


    <p><a data-rel="back" data-role="button" data-theme="b">Paluu</a></p>

{% endblock %}