{% extends "base.html" %}
{% block content %}

<!-- When user has not signed in, tell him to do so -->
{% if (authorized == False) %}

<p><a href="/login" data-role="button">Kirjaudu sisään</a></p>

{% endif %}

<!-- When user has signed in, return personalized "dashboard" -->
{% if (authorized == True) %}

<!-- TODO get some data over here -->
<h1>Uusimmat pelit</h1>
<p>Toteuttamatta..</p>

<p><a href="/player/1234" data-role="button">Player-sivu esimerkki</a></p>
<p><a href="/game/12345" data-role="button">Game-sivu esimerkki</a></p>
<p><a href="/team/bos" data-role="button">Team-sivu esimerkki</a></p>

{% endif %}
{% endblock %}