{% extends "base.html" %}
{% block content %}

<!-- When user has not signed in, tell him to do so -->
{% if (authorized == False) %}

<p><a href="/login" data-role="button">Kirjaudu sisään</a></p>

{% endif %}

<!-- When user has signed in, return personalized "dashboard" -->
{% if (authorized == True) %}

<!-- TODO get some data over here -->
<p>Kirjauduttu sisään..</p>
<h1>Welcome back</h1>

<p><a href="/player/1234" data-role="button">Player-sivu</a></p>
<p><a href="/game/12345" data-role="button">Game-sivu</a></p>
<p><a href="/team/bos" data-role="button">Team-sivu</a></p>

{% endif %}
{% endblock %}