/* Pucktracker-asiakassovelluksen prototyyppi */

/*General*/
.centered-text {
    /*min-height: 10em;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    text-align: center;
}

/*Page specific */

/*  /game  */
.score-display{
    height:60px;
}
.big-text{
    font-size:50px;
    vertical-align: middle;
    margin-top:0;
    /*padding-bottom: 10px;*/
}

/*title-row {
list-style: none;
padding: .7em 0;
margin: 0;
border-bottom: 1px solid #e3e3e3;
}*/

.bottom-border {
    border-bottom:1px solid #e3e3e3;
    font-weight: bold;
}

.top-border {
    border-top:1px solid #333333

}


/*player-page*/
.no-top-margin{
margin-top:0;
}

.picture-frame{
    height: 160px;
    width: 70%;
    margin: 0 auto;
}

.name-block{
    width:70%;
    float: left;
}

p{margin:0;}

table{
    width:100%;
    margin-bottom: 10;
}

/* Standings */
.standings-table td,
.standings-table th {
    text-align: right;
}

.standings-table td:first-child {
    text-align: left;
}

.standings-table th:first-child {
    width: 10%;
    text-align: left;
}

.standings-table .even {
    background-color: #FCFCFC;
}

.standings-table thead tr {
    background-color: #DEDEDE;
}
