<!DOCTYPE html>
<!-- Jinja2 template, jquery-mobile page -->
<html>
  <head>
    <!-- Setup scripts and jqm -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PT-Client</title>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
  </head>

  <body>
    <div data-role="page">
      <!-- Header -->
      <div data-role="header">
        <h1>Pucktracker</h1>
        <a data-direction="reverse" data-iconpos="notext" data-icon="home" href="/menu" data-corners="true" data-shadow="true" data-iconshadow="true" title="Home"></a>
      </div>

      <div data-role="content">
        {% block content %} {% endblock %}
      </div>

    </div>
  </body>
</html>
