{% extends "base.html" %}
{% block content %}

    <h1>Ottelun tiedot</h1>
    <h4>{{jinja_utils.convert_date(date)}}</h4>

<!-- Pistenäyttö -->

    <div class="ui-grid-a" id="score-display">
        <div class="ui-block-a">
            <h3 class="centered-text">Koti</h3>
            <div class="ui-bar ui-bar-a score-display centered-text">
                <p class="big-text"> {{home_score}}</p>
            </div>
            <h3 class="centered-text"><a href="/team/{{home_team}}">{{home_team|upper}}</a></h3>
        </div>
        <div class="ui-block-b">
            <h3 class="centered-text">Vieras</h3>
            <div class="ui-bar ui-bar-a score-display centered-text">
                <p class="big-text"> {{away_score}}</p>
            </div>
            <h3 class="centered-text goal-display-team"><a href="/team/{{away_team}}">{{away_team|upper}}</a></h3>
        </div>

    </div>

<!-- Maalit TODO: reverse-funktio ei toimi yli 10-maalin peleissä -->

    <table id="goals"> ​
    <caption>Maalit</caption>​
    <thead>​
    <tr>​
        <th scope=​"col" class="bottom-border">Joukkue:​</th>​
        <th scope=​"col" class="bottom-border">​Aika​:</th>​
        <th scope=​"col" class="bottom-border">Erä:​</th>​
        <th scope=​"col" class="bottom-border">Tulos:​</th>​
        <th scope=​"col" class="bottom-border">Tekijä:​</th>​
    </tr>​
    </thead>​
{% for goal in goals %}
    <tr>​
        <th scope=​"col"><a href="/team/{{goal.team}}">{{goal.team|upper}}</a></th>​
        <th scope=​"col">{{goal.time}}</th>​
        <th scope=​"col">{{goal.period}}</th>​
        <th scope=​"col">{{goal.score | reverse}}​</th>​
        <th scope=​"col">{{goal.desc}}</th>​
    </tr>​
{% endfor %}
    </table> ​

<!-- Rankkarit -->

{% if shootout %}
    <table id="shootout">
    <caption>Rankkarit</caption>​
        <thead>​
            <tr>​
                <th scope=​"col" class="bottom-border">Joukkue:​</th>​
                <th scope=​"col" class="bottom-border">Tekijä:​</th>​
            </tr>​
        </thead>​
        {% for s in shootout %}
            <tr>​
                <th scope=​"col" class="bottom-border"><a href="/team/{{s.team}}">{{s.team|upper}}</a></th>​
                <th scope=​"col" class="bottom-border">{{s.desc}}</th>​
            </tr>​
        {% endfor %}

    </table>
{% endif %}

<!-- Pelaajatilastot -->

    <table summary=​"Tilastot pelaajittain" id="player-stats">​
    <caption>Pelaajatilastot</caption>​
    <thead>​
    <tr>​
        <th scope=​"col" class="bottom-border">Nimi</th>​
        <th scope=​"col" class="bottom-border">Joukkue</th>​
        <th scope=​"col" class="bottom-border">G</th>
        <th scope=​"col" class="bottom-border">A</th>
        <th scope=​"col" class="bottom-border">Pts</th>
        <th scope=​"col" class="bottom-border">+/-</th>
        <th scope=​"col" class="bottom-border">PIM</th>
        <th scope=​"col" class="bottom-border">S</th>
        <th scope=​"col" class="bottom-border">BS</th>
        <th scope=​"col" class="bottom-border">Hits</th>
        <th scope=​"col" class="bottom-border">FW</th>
        <th scope=​"col" class="bottom-border">FL</th>
        <th scope=​"col" class="bottom-border">FO%</th>
        <th scope=​"col" class="bottom-border">Shifts</th>
        <th scope=​"col" class="bottom-border">TOI</th>
    </tr>​
    </thead>​

{% for skater in skaters %}
   <tr>​
        <th scope=​"col"> <a href="/player/{{skater.id}}">{{skater.name}}</a></th>​
        <th scope=​"col">{% if skater.team == "home" %} <a href="/team/{{home_team}}">{{home_team|upper}}</a> {% else %} <a href="/team/{{away_team}}">{{away_team|upper}}</a> {% endif %}</th>​
        <th>{{skater['g']}}</th>
        <th>{{skater['a']}}</th>
        <th>{{skater['pts']}}</th>
        <th>{{skater['+/-']}}</th>
        <th>{{skater['pim']}}</th>
        <th>{{skater['s']}}</th>
        <th>{{skater['bs']}}</th>
        <th>{{skater['hits']}}</th>
        <th>{{skater['fw']}}</th>
        <th>{{skater['fl']}}</th>
        <th>{{skater['fo%']}}</th>
        <th>{{skater['shifts']}}</th>
        <th>{{skater['toi']}}</th>
    </tr>
{% endfor %}
    </table>
{% endblock %}