{% extends "base.html" %}
{% block header_title %} - {{ game.away_team|upper }} vs {{ game.home_team|upper }} {{jinja_utils.convert_date(gid)}}{% endblock %}

{% block content %}

<!-- Pistenäyttö -->
<div class="ui-body ui-body-c">
    <h2 class="centered-text">{{jinja_utils.convert_date(gid)}}</h2>
    <div class="ui-grid-a" id="score-display">
        <div class="ui-block-a">
            <div class="ui-bar ui-bar-a score-display centered-text">
                <p class="big-text"> {{ game.away_score }}</p>
            </div>
            <h2 class="centered-text"><a href="/team/{{ game.away_team }}">{{ TEAMS[game.away_team] }}</a></h3>
        </div>
        <div class="ui-block-b">
            <div class="ui-bar ui-bar-a score-display centered-text">
                <p class="big-text"> {{ game.home_score }}</p>
            </div>
            <h2 class="centered-text goal-display-team"><a href="/team/{{ game.home_team }}">{{ TEAMS[game.home_team] }}</a></h3>
        </div>
    </div>
</div>


<!-- Maalit  -->
<table>
    <tr class="table-header-row"><td colspan="4">Maalit</td></tr>
    $ for period in [1, 2, 3]:
        <tr class="header-row"><td colspan="4">{{ period }}. erä</td></tr>
        $ if goals[period]:
            $ for goal in goals[period]:
                <tr>
                    <td>{{ goal.time }}</td>
                    <td><strong>{{ goal.team|upper }}</strong></td>
                    <td>{{ goal.desc | replace("Assists","Syöttäjät") }}</td>
                    <td class="no-wrap"><strong>{{ goal.score }}</strong></td>
                </tr>
            $ endfor
        $ else:
            <tr><td> - </td></tr>
        $ endif
    $ endfor
    $ if goals[4]:
        <tr class="header-row"><td colspan="4">Jatkoaika</td></tr>
        <tr>
            <td>{{ goals[4][0].time }}</td>
            <td><strong>{{ goals[4][0].team | upper }}</strong></td>
            <td>{{ goals[4][0].desc  | replace("Assists","Syöttäjät") }}</td>
            <td><strong>{{ goals[4][0].score }}</strong></td>
        </tr>
    $ elif game.shootout:
        <tr class="header-row"><td colspan="2">Shootout</td></tr>
        $ for try in game.shootout:
            <tr>
                <td>{{ try.team }}</td>
                <td>{{ try.desc }}</td>
            </tr>
        $ endfor
    $ endif
</table>


<!-- Pelaajatilastot -->
$ for team in ["away", "home"]:
    <table>
        <tr class="table-header-row"><td colspan="{{ len(skater_cols) }}"><strong>{{ game[team + "_team"]|upper }}</strong></td></tr>
        <tr class="header-row">
            <td colspan="{{ len(skater_cols) - len(goalie_cols) + 1 }}">Maalivahdit</td>
            $ for column in goalie_cols[1:]:
                <td>{{ column }}</td>
            $ endfor
        </tr>
        $ for player in players[team + "_goalies"]:
            <tr class="{{ loop.cycle('odd', 'even') }}-row">
                <td colspan="{{ len(skater_cols) - len(goalie_cols) + 1 }}"><a href="/player/{{player.pid}}">{{ player.name|shorten_name }}</a></td>
                $ for column in goalie_cols[1:]:
                    <td>{{ player[column.lower()]}}</td>
                $ endfor
            </tr>
        $ endfor
        <tr class="header-row">
            <td>Kenttäpelaajat</td>
            $ for column in skater_cols[1:]:
                <td>{{ column }}</td>
            $ endfor
        </tr>
        $ for player in players[team + "_skaters"]:
            <tr class="{{ loop.cycle('odd', 'even') }}-row">
                <td><a href="/player/{{player.pid}}">{{ player.name|shorten_name }}</a></td>
                $ for column in skater_cols[1:]:
                    <td>{{ player[column.lower()]}}</td>
                $ endfor
            </tr>
        $ endfor
    </table>
$ endfor

{% endblock %}
