{% extends "base.html" %}
{% block content %}

<!-- Jos käyttäjä ei seuraa vielä mitään, näytetään selite ja linkit hakuihin -->
$ if teams == []:
    $ if players == []:
        <h2> Et seuraa vielä yhtään pelaajaa tai joukkuetta.</h2>
        <p> Voit lisätä pelaajia ja joukkeita seurantaan joukkue- ja pelaajasivuilla. </p>
        <a href="/menu" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Palaa valikkoon</span></span></a>
        <div class="ui-body ui-body-b">
            <h3>Kokeile myös:</h3>
            <a href="/player" data-role="button" data-theme="c" data-icon="search" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left ui-btn-up-b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Pelaajahaku</span><span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span></span></a>
            <a href="/team" data-role="button" data-theme="c" data-icon="search" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Joukkuehaku</span><span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span></span></a>
        </div>
    $endif
$endif

$ if players:
    $ for p in players:
<div class="ui-body ui-body-c">
    <table>
        <tr>
            <td rowspan="7" class="title-column"><a href="/player/{{p['stats']['pid']}}">{{p['stats']['name'] | shorten_name}}</a><br>{{p['stats']['team'] | upper}}</td>
        </tr>
        <tr class="header-row">
            <td colspan="5">Kauden tilastot</td>
        </tr>

        <tr>
            <td><strong>G</strong></td>
            <td><strong>A</strong></td>
            <td><strong>PTS</strong></td>
            <td><strong>+/-</strong></td>
            <td><strong>PIM</strong></td>
        </tr>
        <tr>
            <td>{{ p['stats']['g'] }}</td>
            <td>{{ p['stats']['a'] }}</td>
            <td>{{ p['stats']['pts'] }}</td>
            <td>{{ p['stats']['+/-'] }}</td>
            <td>{{ p['stats']['pim'] }}</td>
        </tr>
        <tr class="header-row">
            <td colspan="5">
                Viimeisin ottelu: <a href="/game/{{p['latest_game']['date']}}">{{jinja_utils.convert_date(p['latest_game']['date'])}} {{p['latest_game']['opponent']|upper}}</a>
            </td>
        </tr>
        <tr>
            <td><strong>G</strong></td>
            <td><strong>A</strong></td>
            <td><strong>PTS</strong></td>
            <td><strong>+/-</strong></td>
            <td><strong>PIM</strong></td>
        </tr>
        <tr>
            <td>{{ p['latest_game']['g'] }}</td>
            <td>{{ p['latest_game']['a'] }}</td>
            <td>{{ p['latest_game']['pts'] }}</td>
            <td>{{ p['latest_game']['+/-'] }}</td>
            <td>{{ p['latest_game']['pim'] }}</td>
        </tr>
    </table>
</div>

    $ endfor
$ endif

$ if teams:
    $ for t in teams:
        <div class="ui-body ui-body-c">

            <table>
                <tr><td rowspan="6" class="title-column"><a href="/team/{{t['id']}}">{{TEAMS[t['id']]}}</a></td></tr>

                <tr class="header-row">
                    <td colspan="5">Kauden tilastot</td>
                </tr>
                <tr>
                    <td><strong>W</strong></td>
                    <td><strong>L</strong></td>
                    <td><strong>OTL</strong></td>
                    <td><strong>PTS</strong></td>
                    <td><strong>L10</strong></td>
                </tr>
                <tr>
                    <td>{{ t['stats']['w'] }}</td>
                    <td>{{ t['stats']['l'] }}</td>
                    <td>{{ t['stats']['otl'] }}</td>
                    <td>{{ t['stats']['pts'] }}</td>
                    <td>{{ t['stats']['last 10'] }}</td>
                </tr>
                <tr>
                    <td class="header-row" colspan="5">Viimeisin ottelu: <a href="/game/{{ t['latest_game']['date'] }}">{{ jinja_utils.convert_date(t['latest_game']['date']) }} {{ t['latest_game']['opponent']|shorten_game }} </a></td>
                </tr>
                <tr>
                    <td colspan="5"><strong>{{ t['latest_game']['score'] }}</strong></td>
                </tr>
            </table>
        </div>

    $ endfor
$ endif

{% endblock %}
