{% extends "base.html" %}
{% block content %}

<!-- TODO get some data over here -->
<p>Seuratut joukkueet (testausta varten)</p>
{% for a in session['teams']%}
<a href="/team/{{a}}">{{a|upper}}</a>
{% endfor %}

<p>Seuratut pelaajat</p>
{% for a in session['players']%}
<a href="/player/{{a}}">{{a|upper}}</a>
{% endfor %}

<h1>Uusimmat pelit</h1>

{{games}}

<p><a href="/player/4472" data-role="button">Pelaaja (4472)</a></p>
<p><a href="/game/2012022307" data-role="button">Ottelu (2012022307)</a></p>
<p><a href="/team/bos" data-role="button">Joukkue (bos)</a></p>

{% endblock %}