{% extends "base.html" %}
{% block content %}

<!-- Jos käyttäjä ei seuraa vielä mitään, näytetään selite ja linkit hakuihin -->
$ if teams == []:
    $ if players == []:
        <h2> Et seuraa vielä yhtään pelaajaa tai joukkuetta.</h2>
        <p> Voit lisätä pelaajia ja joukkeita seurantaan joukkue- ja pelaajasivuilla. </p>
        <a href="/menu" data-role="button" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Palaa valikkoon</span></span></a>
        <div class="ui-body ui-body-b">
            <h3>Kokeile myös:</h3>
            <a href="/player" data-role="button" data-theme="c" data-icon="search" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left ui-btn-up-b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Pelaajahaku</span><span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span></span></a>
            <a href="/team" data-role="button" data-theme="c" data-icon="search" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Joukkuehaku</span><span class="ui-icon ui-icon-search ui-icon-shadow">&nbsp;</span></span></a>
        </div>
    $endif
$endif

$ if players:
    <h2>Seuratut h2elaajat</h2>
    $ for p in players:
        <p>{{p}}</p>
    $ endfor
$ endif

$ if teams:
    <h2>Joukkueet</h2>
    $ for t in teams:
        <p>{{t}}</p>
    $ endfor
$ endif

{% endblock %}
