{% extends "base.html" %}
{% block content %}

<h1>Main menu</h1>

<p><a data-role="button" data-theme="a" href="/">Oma sivu</a></p>
<p><a data-role="button" data-theme="a" href="/player">Pelaajahaku</a></p>
<p><a data-role="button" data-theme="a" href="/team">Joukkueet</a></p>
<p><a data-role="button" data-theme="a" href="/standings/2012">Sarjataulukko</a></p>
<p><a data-role="button" data-theme="a" href="/top">Top-lista</a></p>
<p><a data-role="button" data-theme="b" href="/logout">Kirjaudu ulos ({{session['name']}})</a></p>

{% endblock %}