{% extends "base.html" %}
{% block content %}

<div class="ui-grid-a" id="player-info">
    <div class="ui-block-a">
        <h2 class="no-top-margin">{{name}} ({{position|upper}})</h2>
        <h3><a href="/team/{{team}}">{{TEAMS[team]}}</a></h3>
    </div>
    <div class="ui-block-b">
        {% if following == True %}
            <a href="/remove_followed/{{pid}}" data-role="button">Poista seurattavista</a>
        {% else %}
            <a href="/add_followed/{{pid}}" data-role="button">Lisää seurattaviin</a>
        {% endif %}
    </div>
</div>

<!-- Eri taulukot pelaajalle ja maalivahdille -->
$ if position == "g":
    <div class="keystats">
        <ul>
            <li><strong>W-L-OTL</strong><br>{{this_season.w}}-{{this_season.l}}-{{this_season.otl}}</li>
            <li><strong>SV%</strong><br>{{ this_season['sv%'] }}</li>
            <li><strong>GAA</strong><br>{{ this_season.gaa }}</li>
            <li><strong>SO</strong><br>{{ this_season.so }}</li>
        </ul>
    </div>

    <table>
        <tr class="table-header-row"><td colspan="20">Kaikki kaudet</td></tr>​
        <tr class="header-row">​
            <td>Vuosi</td>​
            <td>Joukkue</td>​
            <td>GP</td>​
            <td>GS</td>​
            <td>MIN</td>​
            <td>W</td>​
            <td>L</td>​
            <td>T</td>​
            <td>OTL</td>​
            <td>EGA</td>​
            <td>GA</td>​
            <td>GAA</td>​
            <td>SA</td>​
            <td>SV</td>​
            <td>SV%</td>​
            <td>SO</td>​
        </tr>​​
    {% for s in all_seasons %}
        <tr  class="{{ loop.cycle('odd', 'even') }}-row">​
            <td>{{s.year}}</td>​
            <td><a href="/team/{{s.team}}">{{s.team | upper}}</a></td>​
            <td>{{s['gp']}}</td>​
            <td>{{s['gs']}}</td>​
            <td>{{s['min']}}</td>​
            <td>{{s['w']}}</td>​
            <td>{{s['l']}}</td>​
            <td>{{s['t']}}</td>​
            <td>{{s['otl']}}</td>​
            <td>{{s['ega']}}</td>​
            <td>{{s['ga']}}</td>​
            <td>{{s['gaa']}}</td>​
            <td>{{s['sa']}}</td>​
            <td>{{s['sv']}}</td>​
            <td>{{s['sv%']}}</td>​
            <td>{{s['so']}}</td>​
        </tr>
    {% endfor %}
    <!-- Viimeinen rivi jossa vuodet yhteenlaskettuna -->
        <tr class="totals-row">​
            <td>Ura</td>​
            <td> </td>​
            <td>{{career['gp']}}</td>​
            <td>{{career['gs']}}</td>​
            <td>{{career['min']}}</td>​
            <td>{{career['w']}}</td>​
            <td>{{career['l']}}</td>​
            <td>{{career['t']}}</td>​
            <td>{{career['otl']}}</td>​
            <td>{{career['ega']}}</td>​
            <td>{{career['ga']}}</td>​
            <td>{{career['gaa']}}</td>​
            <td>{{career['sa']}}</td>​
            <td>{{career['sv']}}</td>​
            <td>{{career['sv%']}}</td>​
            <td>{{career['so']}}</td>​
        </tr>​
    </table>
$ else:
    <div class="keystats">
        <ul>
            <li><strong>G</strong><br>{{ this_season['g'] }}</li>
            <li><strong>A</strong><br>{{ this_season['a'] }}</li>
            <li><strong>PTS</strong><br>{{ this_season['pts'] }}</li>
            <li><strong>+/-</strong><br>{{ this_season['+/-'] }}</li>
            <li><strong>PIM</strong><br>{{ this_season['pim'] }}</li>
        </ul>
    </div>

    <table>
        <tr class="table-header-row"><td colspan="20">Kaikki kaudet</td></tr>​
        <tr class="header-row">​
            <td>Vuosi</td>​
            <td>Joukkue</td>​
            <td>GP</td>​
            <td>G</td>​
            <td>​A</td>​
            <td>Pts</td>​
            <td>+/-</td>​
            <td>PIM</td>​
            <td>Hits</td>​
            <td>BkS</td>​
            <td>FW</td>​
            <td>FL</td>​
            <td>FO%</td>​
            <td>PPG</td>​
            <td>PPA</td>​
            <td>SHG</td>​
            <td>SHA</td>​
            <td>GW</td>​
            <td>SOG</td>​
            <td>Pct</td>​
        </tr>​​
    {% for s in all_seasons %}
        <tr class="{{ loop.cycle('odd', 'even') }}-row">​
            <td>{{s.year[2:]}}-{{str(int(s.year)+1)[2:]}}</td>​
            <td><a href="/team/{{s.team}}">{{s.team|upper}}</a></td>​
            <td>{{s.gp}}</td>​
            <td>{{s.g}}</td>​
            <td>{{s.a}}</td>​
            <td>{{s.pts}}</td>​
            <td>{{s['+/-']}}</td>​
            <td>{{s.pim}}</td>​
            <td>{{s.hits}}</td>​
            <td>{{s.bks}}</td>​
            <td>{{s.fw}}</td>​
            <td>{{s.fl}}</td>​
            <td>{{s['fo%']}}</td>​
            <td>{{s.ppg}}</td>​
            <td>{{s.ppa}}</td>​
            <td>{{s.shg}}</td>​
            <td>{{s.sha}}</td>​
            <td>{{s.gw}}</td>​
            <td>{{s.sog}}</td>​
            <td>{{s.pct}}</td>​
        </tr>
    {% endfor %}
        <!-- Viimeinen rivi jossa vuodet yhteenlaskettuna -->
        <tr class="totals-row">​
            <td>Ura</td>​
            <td></td>​
            <td>{{career.gp}}</td>​
            <td>{{career.g}}</td>​
            <td>{{career.a}}</td>​
            <td>{{career.pts}}</td>​
            <td>{{career['+/-']}}</td>​
            <td>{{career.pim}}</td>​
            <td>{{career.hits}}</td>​
            <td>{{career.bks}}</td>​
            <td>{{career.fw}}</td>​
            <td>{{career.fl}}</td>​
            <td>{{career['fo%']}}</td>​
            <td>{{career.ppg}}</td>​
            <td>{{career.ppa}}</td>​
            <td>{{career.shg}}</td>​
            <td>{{career.sha}}</td>​
            <td>{{career.gw}}</td>​
            <td>{{career.sog}}</td>​
            <td>{{career.pct}}</td>​
        </tr>​
    </table>
$ endif

<!-- pelatut ottelut -->
<table>
    <tr class="table-header-row"><td colspan="3">Ottelut</td></tr>
    $ for gid in games|sort(reverse=True):
        <tr class="{{ loop.cycle('odd', 'even') }}-row">
            <td>{{ jinja_utils.convert_date(gid) }}</td>
            <td>{{ games[gid].opponent | upper}}</td>
            <td><strong><a href="/game/{{ gid }}">{{games[gid].result | upper}}</a></strong></td>
        </tr>
    $ endfor
</table>


{% endblock %}
