{% extends "base.html" %}
{% block content %}

<div class="ui-grid-a" id="player-info">
    <div class="ui-block-a">
        <h2 class="no-top-margin">{{name}} ({{position|upper}})</h2>
        <h3><a href="/team/{{team}}">{{TEAMS[team]}}</a></h3>
    </div>
    <div class="ui-block-b">
        $ if pid in session["players"]:
            <a href="/remove_followed/{{pid}}" data-role="button">Poista seurattavista</a>
        $ else:
            <a href="/add_followed/{{pid}}" data-role="button">Lisää seurattaviin</a>
        $ endif
    </div>
</div>

<!-- Eri taulukot pelaajalle ja maalivahdille -->
$ if position == "g":
    <div class="keystats">
        <ul>
            <li class="wide"><strong>W-L-OTL</strong><br>{{this_season.w or "-"}}-{{this_season.l or "-"}}-{{this_season.otl or "-"}}</li>
            <li><strong>SV%</strong><br>{{ this_season['sv%'] or "-"}}</li>
            <li><strong>GAA</strong><br>{{ this_season.gaa or "-"}}</li>
            <li><strong>SO</strong><br>{{ this_season.so or "-"}}</li>
        </ul>
    </div>

    <table class="small-table">
        <tr class="table-header-row"><td colspan="20">Kaikki kaudet</td></tr>​
        <tr class="header-row">​
            <td>Kausi</td>​
            <td>Joukkue</td>​
            <td>GP</td>​
            <td>GS</td>​
            <td>MIN</td>​
            <td>W</td>​
            <td>L</td>​
            <td>T</td>​
            <td>OTL</td>​
            <td>EGA</td>​
            <td>GA</td>​
            <td>GAA</td>​
            <td>SA</td>​
            <td>SV</td>​
            <td>SV%</td>​
            <td>SO</td>​
        </tr>​​
    {% for s in all_seasons %}
        <tr  class="{{ loop.cycle('odd', 'even') }}-row">​
            <td>{{s.year}}</td>​
            <td><a href="/team/{{s.team}}">{{s.team | upper}}</a></td>​
            <td>{{s['gp'] or "-"}}</td>​
            <td>{{s['gs'] or "-"}}</td>​
            <td>{{s['min'] or "-"}}</td>​
            <td>{{s['w'] or "-"}}</td>​
            <td>{{s['l'] or "-"}}</td>​
            <td>{{s['t'] or "-"}}</td>​
            <td>{{s['otl'] or "-"}}</td>​
            <td>{{s['ega'] or "-"}}</td>​
            <td>{{s['ga'] or "-"}}</td>​
            <td>{{s['gaa'] or "-"}}</td>​
            <td>{{s['sa'] or "-"}}</td>​
            <td>{{s['sv'] or "-"}}</td>​
            <td>{{s['sv%'] or "-"}}</td>​
            <td>{{s['so'] or "-"}}</td>​
        </tr>
    {% endfor %}
    <!-- Viimeinen rivi jossa vuodet yhteenlaskettuna -->
        <tr class="totals-row">​
            <td>Ura</td>​
            <td> </td>​
            <td>{{career['gp'] or "-"}}</td>​
            <td>{{career['gs'] or "-"}}</td>​
            <td>{{career['min'] or "-"}}</td>​
            <td>{{career['w'] or "-"}}</td>​
            <td>{{career['l'] or "-"}}</td>​
            <td>{{career['t'] or "-"}}</td>​
            <td>{{career['otl'] or "-"}}</td>​
            <td>{{career['ega'] or "-"}}</td>​
            <td>{{career['ga'] or "-"}}</td>​
            <td>{{career['gaa'] or "-"}}</td>​
            <td>{{career['sa'] or "-"}}</td>​
            <td>{{career['sv'] or "-"}}</td>​
            <td>{{career['sv%'] or "-"}}</td>​
            <td>{{career['so'] or "-"}}</td>​
        </tr>​
    </table>
$ else:
    <div class="keystats">
        <ul>
            <li><strong>G</strong><br>{{ this_season['g'] or "-"}}</li>
            <li><strong>A</strong><br>{{ this_season['a'] or "-"}}</li>
            <li><strong>PTS</strong><br>{{ this_season['pts'] or "-"}}</li>
            <li><strong>+/-</strong><br>{{ this_season['+/-'] or "-"}}</li>
            <li><strong>PIM</strong><br>{{ this_season['pim'] or "-"}}</li>
        </ul>
    </div>

    <table class="small-table">
        <tr class="table-header-row"><td colspan="20">Kaikki kaudet</td></tr>​
        <tr class="header-row">​
            <td>Vuosi</td>​
            <td>Joukkue</td>​
            <td>GP</td>​
            <td>G</td>​
            <td>​A</td>​
            <td>Pts</td>​
            <td>+/-</td>​
            <td>PIM</td>​
            <td>Hits</td>​
            <td>BkS</td>​
            <td>FW</td>​
            <td>FL</td>​
            <td>FO%</td>​
            <td>PPG</td>​
            <td>PPA</td>​
            <td>SHG</td>​
            <td>SHA</td>​
            <td>GW</td>​
            <td>SOG</td>​
            <td>Pct</td>​
        </tr>​​
    {% for s in all_seasons %}
        <tr class="{{ loop.cycle('odd', 'even') }}-row">​
            <td>{{s.year|year_to_season}}</td>​
            <td><a href="/team/{{s.team}}">{{s.team|upper}}</a></td>​
            <td>{{s.gp or "-"}}</td>​
            <td>{{s.g or "-"}}</td>​
            <td>{{s.a or "-"}}</td>​
            <td>{{s.pts or "-"}}</td>​
            <td>{{s['+/-'] or "-"}}</td>​
            <td>{{s.pim or "-"}}</td>​
            <td>{{s.hits or "-"}}</td>​
            <td>{{s.bks or "-"}}</td>​
            <td>{{s.fw or "-"}}</td>​
            <td>{{s.fl or "-"}}</td>​
            <td>{{s['fo%'] or "-"}}</td>​
            <td>{{s.ppg or "-"}}</td>​
            <td>{{s.ppa or "-"}}</td>​
            <td>{{s.shg or "-"}}</td>​
            <td>{{s.sha or "-"}}</td>​
            <td>{{s.gw or "-"}}</td>​
            <td>{{s.sog or "-"}}</td>​
            <td>{{s.pct or "-"}}</td>​
        </tr>
    {% endfor %}
        <!-- Viimeinen rivi jossa vuodet yhteenlaskettuna -->
        <tr class="totals-row">​
            <td>Ura</td>​
            <td></td>​
            <td>{{career.gp or "-"}}</td>​
            <td>{{career.g or "-"}}</td>​
            <td>{{career.a or "-"}}</td>​
            <td>{{career.pts or "-"}}</td>​
            <td>{{career['+/-'] or "-"}}</td>​
            <td>{{career.pim or "-"}}</td>​
            <td>{{career.hits or "-"}}</td>​
            <td>{{career.bks or "-"}}</td>​
            <td>{{career.fw or "-"}}</td>​
            <td>{{career.fl or "-"}}</td>​
            <td>{{career['fo%'] or "-"}}</td>​
            <td>{{career.ppg or "-"}}</td>​
            <td>{{career.ppa or "-"}}</td>​
            <td>{{career.shg or "-"}}</td>​
            <td>{{career.sha or "-"}}</td>​
            <td>{{career.gw or "-"}}</td>​
            <td>{{career.sog or "-"}}</td>​
            <td>{{career.pct or "-"}}</td>​
        </tr>​
    </table>
$ endif

<!-- pelatut ottelut -->
<table>
    <tr class="table-header-row"><td colspan="3">Ottelut</td></tr>
    $ for gid in games|sort(reverse=True):
        <tr class="{{ loop.cycle('odd', 'even') }}-row">
            <td>{{ jinja_utils.convert_date(gid) }}</td>
            <td>{{ games[gid].opponent|upper}}</td>
            <td><strong><a href="/game/{{ gid }}">{{games[gid].result | upper}}</a></strong></td>
        </tr>
    $ endfor
</table>


{% endblock %}
