{% extends "base.html" %}
{% block content %}

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <h2>{{name}}</h2>
        <p>{{team|upper}}</p>
    </div>
    <div class="ui-block-b">
        {% if following == true %}
        <a href="/remove_followed/{{team}}" data-role="button">Poista seurattavista</a>
        {% else %}
        <a href="/add_followed/{{team}}" data-role="button">Lisää seurattaviin</a>
        {% endif %}
    </div>
</fieldset>

<table id="current-season">
    <caption><p>Kauden {{year}} tilastot</p></caption>​
<thead>
    <tr>
        <td class="bottom-border">GP</td>
        <td class="bottom-border">W</td>
        <td class="bottom-border">L</td>
        <td class="bottom-border">T</td>
        <td class="bottom-border">OTL</td>
        <td class="bottom-border">Pts</td>
        <td class="bottom-border">GF</td>
        <td class="bottom-border">GA</td>
        <td class="bottom-border">Diff</td>
        <td class="bottom-border">Home</td>
        <td class="bottom-border">Road</td>
        <td class="bottom-border">Last 10</td>
        <td class="bottom-border">Streak</td>
    </tr>
</thead>
<tr>
    <td>{{stats['gp']}}</td>
    <td>{{stats['w']}}</td>
    <td>{{stats['l']}}</td>
    <td>{{stats['t']}}</td>
    <td>{{stats['otl']}}</td>
    <td>{{stats['pts']}}</td>
    <td>{{stats['gf']}}</td>
    <td>{{stats['ga']}}</td>
    <td>{{stats['diff']}}</td>
    <td>{{stats['home']}}</td>
    <td>{{stats['road']}}</td>
    <td>{{stats['last 10']}}</td>
    <td>{{stats['streak']}}</td>
</tr>


</table>

<table id="latest_game">
    <caption>Viimeisin peli</caption>​
<thead>
    <tr>
        <td class="bottom-border">Date</td>
        <td class="bottom-border">Opponent</td>
        <td class="bottom-border">Score</td>
    </tr>
</thead>
<tr>
    <td><a href="/game/{{latest_game.date}}">{{latest_game.date}}</a></td>
    <td>{{latest_game.opponent}}</td>
    <td>{{latest_game.score}}</td>
</tr>

<h3> Pelaajat: </h3>

<div id="players">
{% for player in players %}
<a href="/player/{{player.pid}}">{{player.name}}</a>
{% endfor %}
</div>
<!-- {{players}} -->
{% endblock %}