{% extends "base.html" %}
{% block content %}

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <h2>{{name}}</h2>
        <p>{{team|upper}}</p>
    </div>
    <div class="ui-block-b">
        {% if following == true %}
        <a href="/remove_followed/{{team}}" data-role="button">Poista seurattavista</a>
        {% else %}
        <a href="/add_followed/{{team}}" data-role="button">Lisää seurattaviin</a>
        {% endif %}
    </div>
</fieldset>

<table id="current-season">
    <caption><p>Kauden {{year}} tilastot</p></caption>​
<thead>
    <tr>
        <th class="bottom-border">GP</th>
        <th class="bottom-border">W</th>
        <th class="bottom-border">L</th>
        <th class="bottom-border">T</th>
        <th class="bottom-border">OTL</th>
        <th class="bottom-border">Pts</th>
        <th class="bottom-border">GF</th>
        <th class="bottom-border">GA</th>
        <th class="bottom-border">Diff</th>
        <th class="bottom-border">Home</th>
        <th class="bottom-border">Road</th>
        <th class="bottom-border">Last 10</th>
        <th class="bottom-border">Streak</th>
    </tr>
</thead>
<tr>
    <th>{{stats['gp']}}</th>
    <th>{{stats['w']}}</th>
    <th>{{stats['l']}}</th>
    <th>{{stats['t']}}</th>
    <th>{{stats['otl']}}</th>
    <th>{{stats['pts']}}</th>
    <th>{{stats['gf']}}</th>
    <th>{{stats['ga']}}</th>
    <th>{{stats['diff']}}</th>
    <th>{{stats['home']}}</th>
    <th>{{stats['road']}}</th>
    <th>{{stats['last 10']}}</th>
    <th>{{stats['streak']}}</th>
</tr>


</table>

<table id="latest_game">
    <caption>Viimeisin peli</caption>​
<thead>
    <tr>
        <th class="bottom-border">Pvm</th>
        <th class="bottom-border">Vastus</th>
        <th class="bottom-border">Tulos</th>
    </tr>
</thead>
<tr>
    <th><a href="/game/{{latest_game.date}}">{{latest_game.date}}</a></th>
    <th>{{latest_game.opponent}}</th>
    <th>{{latest_game.score}}</th>
</tr>

<h3> Pelaajat: </h3>

<div id="players">
{% for player in players %}
<a href="/player/{{player.pid}}">{{player.name}}</a>
{% endfor %}
</div>
<!-- {{players}} -->
{% endblock %}