{% extends "base.html" %}
{% block content %}

<fieldset class="ui-grid-a" id="team-info">
    <div class="ui-block-a">
        <h2>{{TEAMS[team]}}</h2>
    </div>
    <div class="ui-block-b">
        $ if team in session["teams"]:
            <a href="/remove_followed/{{team}}" data-role="button">Poista seurattavista</a>
        $ else:
            <a href="/add_followed/{{team}}" data-role="button">Lisää seurattaviin</a>
        $ endif
    </div>
</fieldset>

<!-- Kauden tilastot -->
<table>
    <tr class="table-header-row"><td colspan="12">Kauden tilastot</td></tr>
    <tr class="header-row">
        <td>GP</td>
        <td>W</td>
        <td>L</td>
        <td>OTL</td>
        <td>Pts</td>
        <td>GF</td>
        <td>GA</td>
        <td>Diff</td>
        <td>Home</td>
        <td>Road</td>
        <td>Last 10</td>
        <td>Streak</td>
    </tr>
    <tr class="odd-row">
        <td>{{stats.gp}}</td>
        <td>{{stats.w}}</td>
        <td>{{stats.l}}</td>
        <td>{{stats.otl}}</td>
        <td>{{stats.pts}}</td>
        <td>{{stats.gf}}</td>
        <td>{{stats.ga}}</td>
        <td>{{stats.diff}}</td>
        <td>{{stats.home}}</td>
        <td>{{stats.road}}</td>
        <td>{{stats['last 10']}}</td>
        <td>{{stats.streak|title}}</td>
    </tr>
</table>

<!-- Ottelut -->
<table>
    <tr class="table-header-row"><td colspan="3">Ottelut</td></tr>
    $ for gid in games|sort(reverse=True):
        <tr class="{{ loop.cycle('odd', 'even') }}-row">
            <td>{{ jinja_utils.convert_date(gid) }}</td>
            <td>{{ games[gid].opponent|shorten_game }}</td>
            <td><strong><a href="/game/{{ gid }}">{{ games[gid].score }}</a></strong></td>
        </tr>
    $ endfor
</table>

<table>
    <tr class="table-header-row"><td colspan="19">Pelaajat</td></tr>
    <tr class="header-row">
        <td colspan="6">Maalivahdit</td>
        <td>GP</td>
        <td>GS</td>
        <td>MIN</td>
        <td>W</td>
        <td>L</td>
        <td>OTL</td>
        <td>EGA</td>
        <td>GA</td>
        <td>GAA</td>
        <td>SA</td>
        <td>SV</td>
        <td>SV%</td>
        <td>SO</td>
    </tr>
    $ for g in goalies:
        <tr class="{{ loop.cycle('odd', 'even')}}-row">
            <td colspan="6"><a href="/player/{{g.pid}}">{{g['name']|shorten_name}}</a></td>
            <td>{{g['gp']}}</td>
            <td>{{g['gs']}}</td>
            <td>{{g['min']}}</td>
            <td>{{g['w']}}</td>
            <td>{{g['l']}}</td>
            <td>{{g['otl']}}</td>
            <td>{{g['ega']}}</td>
            <td>{{g['ga']}}</td>
            <td>{{g['gaa']}}</td>
            <td>{{g['sa']}}</td>
            <td>{{g['sv']}}</td>
            <td>{{g['sv%']}}</td>
            <td>{{g['so']}}</td>
        </tr>
    $ endfor
    <tr class="header-row">
        <td>Kenttäpelaajat</td>
        <td>GP</td>
        <td>G</td>
        <td>A</td>
        <td>Pts</td>
        <td>+/-</td>
        <td>PIM</td>
        <td>Hits</td>
        <td>BKS</td>
        <td>FW</td>
        <td>FL</td>
        <td>FO%</td>
        <td>PPG</td>
        <td>PPA</td>
        <td>SHG</td>
        <td>SHA</td>
        <td>GW</td>
        <td>SOG</td>
        <td>PCT</td>
    </tr>
    $ for s in skaters:
        <tr class="{{ loop.cycle('odd', 'even') }}-row">
            <td><a href="/player/{{s.pid}}">{{s['name']|shorten_name}}</a></td>
            <td>{{s['gp']}}</td>
            <td>{{s['g']}}</td>
            <td>{{s['a']}}</td>
            <td>{{s['pts']}}</td>
            <td>{{s['+/-']}}</td>
            <td>{{s['pim']}}</td>
            <td>{{s['hits']}}</td>
            <td>{{s['bks']}}</td>
            <td>{{s['fw']}}</td>
            <td>{{s['fl']}}</td>
            <td>{{s['fo%']}}</td>
            <td>{{s['ppg']}}</td>
            <td>{{s['ppa']}}</td>
            <td>{{s['shg']}}</td>
            <td>{{s['sha']}}</td>
            <td>{{s['gw']}}</td>
            <td>{{s['sog']}}</td>
            <td>{{s['pct']}}</td>
        </tr>
    $ endfor
</table>

{% endblock %}
